.popup-container {
    height: 370px;
    overflow: overlay;
    width: 310px;
    padding-left: 5px;
    padding-right: 15px;
}

ul.feature-list {
    padding-left: 25px;
}

h4.donation-title {
    margin-bottom: 2px;
}

.donation-address {
    text-align: justify;
}
