.popup-container {
    height: 370px;
    overflow: overlay;
    width: 310px;
}

.popup-container::-webkit-scrollbar {
    display: none;
}

ul.feature-list {
    padding-left: 25px;
}

.donation-title {
    margin-bottom: 2px;
}

.donation-address {
    margin-top: 3px;
}

.popup-title {
    margin-top: 7px;
    margin-bottom: 5px;
}
